# Copyright (c) 2023, Oracle and/or its affiliates.
# Licensed under the Universal Permissive License v 1.0 as shown at https://oss.oracle.com/licenses/upl/

*.iml
*.ipr
*.iws
*.log
.DS_Store
.idea
.run
target/
Thumbs.db
ocibuild.conf
sca-config.json
input_ocibuild*
output_ocibuild*
